html {
	font-family: Helvetica;
}

h1 {
	font-size: 20px;
}

.bomb {
	color: black;
	background-image: url(img/bomb.svg);
}

.flag {
	color: red;
}

.hex-row{
	white-space: nowrap;
}

.hex-row:nth-child(2n) { 
    margin-left: 27px;
    margin-top: -29px;
    margin-bottom: -29px;
}

.hex-row:nth-child(2n) .hex-in3 { 

}

.hex-item{
	display: inline-block;
	top: 0px;
	margin: 2px;
	padding: 0px;
	font-size: 20px;
}

.hex-item:nth-child(5n+7) .hex-in3 { 

}

.hex-in{
	width: 50px;
	height: 70px;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(60deg);	
}

.hex-in1{
	transform: rotate(-120deg);	
}

.hex-in2{
	
}

.hex-in3{
	background: #bdbdbd;
	visibility: visible;	
	text-align: center;
	vertical-align: middle;
	line-height: 67px;
}

.hex-in3 span{
	visibility: visible;	
	text-align: center;
	vertical-align: middle;
}

.hex-in3.closed{
	background: #7b7b7b;
}

.number0{
	color: white; 
}

.number1{
	color: blue;
}

.number2{
	color: #007b00;
}

.number3{
	color: red;
}

.number4{
	color: #00007b;
}

.number5{
	color: #7b0000;
}

.number6{
	color: #006968;
}

.number7{
	color: #007b7b;
}

.number8{
	color: #7b7b7b;
}

#board table {
	border-collapse: separate;
	border-spacing: 0px;
	font-weight: bold;
}

#board tr {

}

#board td {
	background: #bdbdbd;
	color: #007b00;
	width: 30px;
	height: 30px;
	text-align: center;

	border-left: solid 1px #7b7b7b;
	border-top: solid 1px #7b7b7b;
	border-bottom: none;
	border-right: none;
}

#board td.closed {
	width: 27px;
	height: 27px;
	border-bottom: solid 2px #7b7b7b;
	border-right: solid 2px #7b7b7b;
	border-top: solid 2px #fff;
	border-left: solid 2px #fff;
}

.tr-sq-one {
  width: 100px;
  height: 100px;
  overflow: hidden;
  left: 10px;
  top: 10px;
  position: relative;
  display: inline-block;
  transform: rotate(-45deg);
  line-height: 100px;
}

.tr-sq-two {
  width: 100px;
  height: 100px;
  background: orange;
  transform: rotate(45deg);
  position: relative;
  text-align: center;
}

.tr-sq-bl {
	width: 40px;
	height: 40px;
	background: brown;
	position: relative;
	left: 10px;
	bottom: 24px;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 40px;
	text-align: center;
	vertical-align: bottom;
}

.tr-sq-row{
  white-space: nowrap;
}

.tr-sq-item.closed {
	background: grey;
}

.tr-sq-item {
	background: #bdbdbd;
}

.tr-sq-row:nth-child(2n) { 
    margin-left: 27px;
    margin-top: -31px;
    margin-bottom: -31px;
}
