html {
	font-family: Helvetica;
}

h1 {
	font-size: 20px;
}

.bomb {
	color: black;
	background-image: url(img/bomb.svg);
}

.flag {
	color: red;
}

.number0{
	color: white; 
}

.number1{
	color: blue;
}

.number2{
	color: #007b00;
}

.number3{
	color: red;
}

.number4{
	color: #00007b;
}

.number5{
	color: #7b0000;
}

.number6{
	color: #006968;
}

.number7{
	color: #007b7b;
}

.number8{
	color: #7b7b7b;
}

#board {
	border-collapse: separate;
	border-spacing: 0px;
	font-weight: bold;
}

#board tr {

}

#board td {
	background: #bdbdbd;
	color: #007b00;
	width: 30px;
	height: 30px;
	text-align: center;

	border-left: solid 1px #7b7b7b;
	border-top: solid 1px #7b7b7b;
	border-bottom: none;
	border-right: none;
}

#board td.closed {
	width: 27px;
	height: 27px;
	border-bottom: solid 2px #7b7b7b;
	border-right: solid 2px #7b7b7b;
	border-top: solid 2px #fff;
	border-left: solid 2px #fff;
}
