html {
	font-family: Helvetica;
}

h1 {
	font-size: 20px;
}

.bomb {
	color: black;
	background-image: url(img/bomb.svg);
}

.flag {
	color: red;
}

#board {
	border-collapse: separate;
	border-spacing: 0px;
}

#board tr {

}

#board td {
	background: #bdbdbd;
	color: #007b00;
	width: 30px;
	height: 30px;
	text-align: center;

	border-left: solid 1px #7b7b7b;
	border-top: solid 1px #7b7b7b;
	border-bottom: none;
	border-right: none;
}

